*,
html {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: black;
    overflow: hidden;
}

#grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30fr 1fr;
}

#player-container {
    height: 100%;
    width: 100%;
    padding: 5px;
    grid-area: 1, 1, 2, 1;
    visibility: hidden;
}

#player {
    height: 100%;
    width: 100%;
}

#vis {
    height: 100%;
    width: 100%;
    grid-area: 2, 1, 3, 1;
}

canvas {
    height: 100%;
    width: 100%;
}